.card {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  position: relative;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

#red {
  top: 10px;
  left: 100px;
  background: red;
}
#green {
  top: 50px;
  left: 150px;
  background: green;
}
#blue {
  top: 90px;
  left: 190px;
  background: blue;
}
